RTAFMailManagement/Web References/newRTAFMails/RTAFMail.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Unit" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataResult" type="tns:ArrayOfRTAFMailData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfRTAFMailData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="RTAFMailData" type="tns:RTAFMailData" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RTAFMailData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PeopleID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RANK" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RANKCODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FIRSTNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LASTNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EFIRSTNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ELASTNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UNITCODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BIRTHDAY" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UNITNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="POSITION" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="STATUS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PERSON_TYPE_PK" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IMAGEBASE64" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="GetDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:portType name="RTAFMailSoap">
    <wsdl:operation name="GetData">
      <wsdl:input message="tns:GetDataSoapIn" />
      <wsdl:output message="tns:GetDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RTAFMailSoap" type="tns:RTAFMailSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RTAFMailSoap12" type="tns:RTAFMailSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap12:operation soapAction="http://tempuri.org/GetData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RTAFMail">
    <wsdl:port name="RTAFMailSoap" binding="tns:RTAFMailSoap">
      <soap:address location="https://person-service2.rtaf.mi.th/RTAFService_1/RTAFMail.asmx" />
    </wsdl:port>
    <wsdl:port name="RTAFMailSoap12" binding="tns:RTAFMailSoap12">
      <soap12:address location="https://person-service2.rtaf.mi.th/RTAFService_1/RTAFMail.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>